body{
    background-color: #acbbc6;
    font-family: Verdana;
    font-size: 11pt;
    margin: 15px 0 15px 0;
}
#wraper {
    background-color: #e3e2de;
    border-radius: 15px;
    width: 1000px;
    margin: 0 auto;
}
#header {
    width: 100%;
    border-bottom: black 2px solid;
}
    #header .header_wraper{
        width:80%;
        margin:0 auto;
    }
    #header .left{
        width:40%;
        float: left;
    }
    #header .left .logo_wraper{
        margin: 0 0 20px 0;
    }
    #header .left .logo_img {
        width:200px;
        height:126px;
        border: none;
    }
    #header .right{
        width:60%;
        float:left;
    }
    #header .right .user {
        width:100%;
    }
    #header .right .user .user_wrap{
        width:300px;
        float:right;
    }
    
    #header #menu {
        width: 100%;
    }
    
    #header td{
        font-size: 15px;
        font-weight: bold;
    }
    #header td:hover{
        text-decoration: underline;
        cursor: pointer;
    }
#content {
    width: 100%;
    min-height: 300px;
    border-bottom: black 2px solid;
}
#cwrap {
    width:80%;
    margin:0 auto;
}

#footer {
    width: 100%;
    min-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.smallbutton {
    height:20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}
select {
    border-radius: 5px;
    min-width: 150px;
}