#plans_holder {
    width:800px;
    margin-bottom: 20px;
    /*overflow: auto;
    height:300px;*/
    position: relative;
}
.plans{
    font-size: 8pt;
    width:800px;
    text-align: center;
    background-color: rgba(204,204,204,0.5);
    border:black solid 1px;
    display: block;
    height: 300px;
    overflow: auto;
    table-layout: fixed;
}
.plans thead {
    display: block;
}
.plans tbody {
    display: block;
    height: 300px;
    overflow: auto;
    width: 100%;
}
.plans .tr_top {
    background-color: rgba(204,204,204,0.8);
}
.plans .tr_green {
    background-color: rgba(61,228,41,0.5);
}
.plans .tr_red {
    background-color: rgba(255,0,0,0.5);
}
.plans .tr_green:hover,.tr_red:hover{
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

.plans .chkb{
    width:30px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans .chkb input{
    width: 15px;
}
.plans td,th {
    border-top: black solid 1px;
}
.plans .sem{
    width:30px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans .spec{
    width:100px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans .chair{
    width:50px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans .group{
    width:50px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans .disc{
    width:100px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans .bool{
    width:20px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans .hour{
    width:30px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans thead .prepod{
    width:182px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.plans tbody .prepod{
    width:165px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}

#many_edit_table_holder{
    width:600px;
}
.many_edit_table{
    font-size: 8pt;
    width:600px;
    display: block;
    position: relative;
    text-align: center;
    background-color: rgba(204,204,204,0.5);
    border:black solid 1px;;
}
.many_edit_table thead {
    display: block;
}
.many_edit_table tbody {
    display: block;
    height: 300px;
    overflow: auto;
    width: 100%
}
.many_edit_table tr{
    background-color: rgba(204,204,204,0.8);
}
.many_edit_table .chkb{
    width:30px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.many_edit_table .sem{
    width:30px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.many_edit_table .spec{
    width:100px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.many_edit_table .chair{
    width:50px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.many_edit_table .group{
    width:50px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.many_edit_table .disc{
    width:100px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.many_edit_table .bool{
    width:20px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}
.many_edit_table .hour{
    width:30px;
    word-wrap:break-word;
    overflow-wrap: break-word;
}